<div class="container">
  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>N°</th>
            <th>Id</th>
            <th>Titre</th>
            <th>Artiste</th>
            <th>Durée</th>
            <th>Date de sortie</th>
            <th>Genre</th>
            <th *ngIf="auth.isAdmin()">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let chanson of chansons; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ chanson.idChanson }}</td>
            <td>{{ chanson.titre }}</td>
            <td>{{ chanson.artiste }}</td>
            <td>{{ chanson.duree }} min</td>
            <td>{{ chanson.dateSortie | date:'dd/MM/yyyy' }}</td>
            <td>{{ chanson.genre?.nomGen }}</td>
            <td *ngIf="auth.isAdmin()">
              <button class="btn btn-danger" (click)="supprimerChanson(chanson)">Supprimer</button>
              <a class="btn btn-success" [routerLink]="['/update-chanson', chanson.idChanson]">Modifier</a>
            </td>
          </tr>
          <tr *ngIf="chansons.length === 0">
            <td colspan="8" class="text-center">Aucune chanson trouvée !</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
