<div class="container mt-4">
  <div>
    <h2>Ajouter une Chanson :</h2>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="addChanson()">
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Chanson</label>
      <input type="text" formControlName="idChanson" class="form-control" />
      <span *ngIf="myForm.get('idChanson')?.hasError('required') && myForm.get('idChanson')?.touched" class="text-danger">
        L'id est obligatoire !
      </span>
      <span *ngIf="myForm.get('idChanson')?.hasError('pattern') && myForm.get('idChanson')?.touched" class="text-danger">
        L'id doit être un nombre !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Titre</label>
      <input type="text" formControlName="titre" class="form-control" />
      <span *ngIf="myForm.get('titre')?.hasError('required') && myForm.get('titre')?.touched" class="text-danger">
        Le titre est obligatoire !
      </span>
      <span *ngIf="myForm.get('titre')?.hasError('minlength') && myForm.get('titre')?.touched" class="text-danger">
        Le titre doit contenir au moins 3 caractères !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Artiste</label>
      <input type="text" formControlName="artiste" class="form-control" />
      <span *ngIf="myForm.get('artiste')?.hasError('required') && myForm.get('artiste')?.touched" class="text-danger">
        Le nom artiste est obligatoire !
      </span>
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Durée</label>
      <input type="number" formControlName="duree" class="form-control" />
      <span *ngIf="myForm.get('duree')?.hasError('required') && myForm.get('duree')?.touched" class="text-danger">
        La durée est obligatoire !
      </span>
      <span *ngIf="myForm.get('duree')?.hasError('min') && myForm.get('duree')?.touched" class="text-danger">
        La durée doit être positive !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date de sortie</label>
      <input type="date" formControlName="dateSortie" class="form-control" />
      <span *ngIf="myForm.get('dateSortie')?.hasError('required') && myForm.get('dateSortie')?.touched" class="text-danger">
        La date est obligatoire !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control" />
      <span *ngIf="myForm.get('email')?.hasError('required') && myForm.get('email')?.touched" class="text-danger">
        L'email est obligatoire !
      </span>
      <span *ngIf="myForm.get('email')?.hasError('email') && myForm.get('email')?.touched" class="text-danger">
        L'email n'est pas valide !
      </span>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Genre</label>
      <select formControlName="idGen" class="form-control form-control-lg">
        <option value="">-- Sélectionner un genre --</option>
        @for (Gen of Genres; track Gen.idGen) {
          <option [value]="Gen.idGen">{{ Gen.nomGen }}</option>
        }
      </select>
      <span *ngIf="myForm.get('idGen')?.hasError('required') && myForm.get('idGen')?.touched" class="text-danger">
        Le Genre est obligatoire !
      </span>
    </div>

    <div class="mt-3">
      <button type="submit" class="btn btn-success" [disabled]="myForm.invalid">Ajouter</button>
    </div>
  </form>
</div>
